<div class="ui-block">
  <h3 class="ui-block-heading">Custom range input</h3>

  <h4 class="ui-block-heading">Example</h4>

  <div class="cui-example">
    <input type="range" class="custom-range">
  </div>

  <h4 class="ui-block-heading">Disabled</h4>

  <div class="cui-example">
    <input type="range" class="custom-range" disabled>
  </div>
</div>
