<div class="ui-block">
  <h3 class="ui-block-heading">Bootstrap 4 toasts</h3>

  <samp class="cui-example-code-static">
    $('.bs4-toast').toast();
  </samp>

  <script>
    $(function() {
      $('.bs4-toast').toast({
        autohide: false
      });
    })
  </script>

  <h4 class="ui-block-heading">Default</h4>

  <div class="cui-example">
    <div class="bs4-toast toast show">
      <div class="toast-header">
        <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
        <div class="mr-auto font-weight-bold">Bootstrap</div>
        <div class="d-block small">11 mins ago</div>
        <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>

    <div class="bs4-toast toast show bg-primary">
      <div class="toast-header">
        <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
        <div class="mr-auto font-weight-bold">Bootstrap</div>
        <div class="d-block small">11 mins ago</div>
        <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>

    <div class="bs4-toast toast show bg-secondary">
      <div class="toast-header">
        <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
        <div class="mr-auto font-weight-bold">Bootstrap</div>
        <div class="d-block small">11 mins ago</div>
        <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>

    <div class="bs4-toast toast show bg-success">
      <div class="toast-header">
        <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
        <div class="mr-auto font-weight-bold">Bootstrap</div>
        <div class="d-block small">11 mins ago</div>
        <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>

    <div class="bs4-toast toast show bg-warning">
      <div class="toast-header">
        <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
        <div class="mr-auto font-weight-bold">Bootstrap</div>
        <div class="d-block small">11 mins ago</div>
        <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>

    <div class="bs4-toast toast show bg-info">
      <div class="toast-header">
        <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
        <div class="mr-auto font-weight-bold">Bootstrap</div>
        <div class="d-block small">11 mins ago</div>
        <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>

    <div class="bs4-toast toast show bg-danger">
      <div class="toast-header">
        <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
        <div class="mr-auto font-weight-bold">Bootstrap</div>
        <div class="d-block small">11 mins ago</div>
        <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>

    <div class="bs4-toast toast show bg-dark">
      <div class="toast-header">
        <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
        <div class="mr-auto font-weight-bold">Bootstrap</div>
        <div class="d-block small">11 mins ago</div>
        <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Translucent</h4>

  <div class="cui-example">
    <div class="ui-bg-cover ui-bg-overlay-container p-4" style="background-image: url('/img/bg/1.jpg');">
      <div class="ui-bg-overlay bg-dark opacity-50"></div>

      <div class="bs4-toast toast show">
        <div class="toast-header">
          <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
          <div class="mr-auto font-weight-bold">Bootstrap</div>
          <div class="d-block small">11 mins ago</div>
          <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>

      <div class="bs4-toast toast show bg-primary">
        <div class="toast-header">
          <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
          <div class="mr-auto font-weight-bold">Bootstrap</div>
          <div class="d-block small">11 mins ago</div>
          <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>

      <div class="bs4-toast toast show bg-secondary">
        <div class="toast-header">
          <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
          <div class="mr-auto font-weight-bold">Bootstrap</div>
          <div class="d-block small">11 mins ago</div>
          <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>

      <div class="bs4-toast toast show bg-success">
        <div class="toast-header">
          <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
          <div class="mr-auto font-weight-bold">Bootstrap</div>
          <div class="d-block small">11 mins ago</div>
          <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>

      <div class="bs4-toast toast show bg-warning">
        <div class="toast-header">
          <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
          <div class="mr-auto font-weight-bold">Bootstrap</div>
          <div class="d-block small">11 mins ago</div>
          <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>

      <div class="bs4-toast toast show bg-info">
        <div class="toast-header">
          <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
          <div class="mr-auto font-weight-bold">Bootstrap</div>
          <div class="d-block small">11 mins ago</div>
          <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>

      <div class="bs4-toast toast show bg-danger">
        <div class="toast-header">
          <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
          <div class="mr-auto font-weight-bold">Bootstrap</div>
          <div class="d-block small">11 mins ago</div>
          <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>

      <div class="bs4-toast toast show bg-dark">
        <div class="toast-header">
          <img src="/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
          <div class="mr-auto font-weight-bold">Bootstrap</div>
          <div class="d-block small">11 mins ago</div>
          <button type="button" class="d-block close mb-1 ml-2" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    </div>
  </div>
</div>

